@import "../../../../app.component.scss";
.user-inactive{
    color: red;
}

.user-active{
    color: #2cf036;
    font-weight: bold;
}

.cards-container{
    padding: 10px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container{
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: available;
    height: auto;
    border: 1px solid steelblue;
}

.hidden{
    display: none;
}
.user-title{
  font-weight: bold;
  color:red;
  white-space: pre-line;
}

