@import "../../../../app.component.scss";
.user-inactive{
    color: red;
}

.user-active{
    color: #2cf036;
    font-weight: bold;
}

.cards-container{
    padding: 5px;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hidden{
    display: none;
}
.user-title{
  font-weight: bold;
  color:red;
  white-space: pre-line;
}

