<div class="container">
    <div class="container" style="width: 1100px;">
        <ng-container *ngFor="let user of users">
            <app-shared-card title={{user.name}} subtitle={{user.age}} imageUrl={{user.imageUrl}}
                [details]="[user.gender, user.department, user.company]" (favorite)="addFavorite(user)">
            </app-shared-card>
        </ng-container>
    </div>

    <div class="container" style="width: 1100px;">
        <ng-container *ngFor="let user of favorites">
            <app-shared-card 
                title={{user.name}} 
                subtitle={{user.age}} 
                imageUrl={{user.imageUrl}}
                [buttonDisabled]="true"
                [details]="[user.gender, user.department, user.company]">
            </app-shared-card>
        </ng-container>
    </div>
</div>