<div class="wrapper">
  <app-card
    [imageUrl]="user.imageUrl ? user.imageUrl : USER_DEFAULT_IMAGE"
    [isFavorite]="isFavorite"
    [isButtonDisabled]="isButtonDisabled"
    (favoriteToggle)="toggleUserInFavorite(user)"
  >
    <div title>
      <p [ngClass]="'user-title'">Username {{user.firstName}} {{user.lastName}}</p>
      <p>Age {{user.age}}</p>
    </div>

    <div content>
      <p>{{user.company}}</p>
      <p>{{user.department}}</p>
      <p>{{user.gender}}</p>
      <p *ngFor="let address of user.addresses">
        {{address.address}}, {{address.zip}}, {{address.city}}
      </p>
    </div>
  </app-card>
  <button mat-fab color="primary" [routerLink]="['/users/edit', user.id]">
    <mat-icon>edit</mat-icon>
  </button>
</div>
