<div class="search-bar">
  <app-user-search-form (searchParamsEmitter)="criteriaChanged($event)"></app-user-search-form>
</div>

<div class="container">
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <app-users-list-view
    [users]="users"
    [favoriteIDs]="favoriteIds"
    (favorite)="toggleUserInFavorites($event)">
  </app-users-list-view>

  <app-users-list-view
    [users]="favorites"
    [isButtonDisabled]="true"
    (favorite)="toggleUserInFavorites($event)">
  </app-users-list-view>
</div>
