<h1>Hello world from page #{{title}}</h1>

<button mat-fab extended>
    <mat-icon>home</mat-icon>
    Home
</button>

<br/>
<mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>

<br/>
<h4>Car selector</h4>
<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="renault">Renault</option>
    <option value="volkswagen">Volkswagen</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
    <option value="bmw">BMW</option>
  </select>
</mat-form-field>