<div class="container">
    <div class="container" style="width: 1100px;">
        <ng-container *ngFor="let car of cars">
            <app-shared-card title={{car.name}} subtitle={{car.releaseYear}} imageUrl={{car.imageUrl}}
                [details]="[car.number, car.color]" (favorite)="addFavorite(car)">
            </app-shared-card>
        </ng-container>
    </div>

    <div class="container" style="width: 1100px;">
        <div *ngFor="let car of favorites">
            <app-shared-card 
                title={{car.name}} 
                subtitle={{car.releaseYear}} 
                imageUrl={{car.imageUrl}}
                [buttonDisabled]="true" 
                [details]="[car.number, car.color]">
            </app-shared-card>
        </div>
    </div>
</div>